$date-picker-box: #e2e2e2;
$date-picker-items: #00de2f;
$month-box: #00891d;

.datePicker {
  position: relative;
}

.datePickerContainer {
  width: 420px;
  height: 75px;
  background-color: $date-picker-box;
  border-radius: 15px;
  .datePickerItems {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    .datePickerItem {
      width: 100px;
      height: 50px;
      background-color: $date-picker-items;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 150ms ease-in;
    }
  }
}

.monthBox {
  background-color: $month-box;
  width: 120px;
  height: 250px;
  border-radius: 15px;
  top: 65px;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    color: #fff;
  }
}

.monthBox::-webkit-scrollbar {
  display: none !important;
}

.yearBox {
  background-color: $month-box;
  width: 120px;
  height: 250px;
  border-radius: 15px;
  top: 65px;
  left: 150px;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    color: #fff;
  }
}

.dayBox {
  background-color: $month-box;
  width: 120px;
  height: 250px;
  border-radius: 15px;
  top: 65px;
  right: 0;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    color: #fff;
  }
}

.datePickerToday {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
  border-radius: 15px;
  background-color: red;
  width: 150px;
}

.activeMonth {
  background-color: rgb(204, 204, 204);
  color: #333 !important;
}
